body
  {
      margin: 0;
      padding: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      text-align:center;
      background-color:rgb(135,206,250);

      }
    img
    {
      height:550px;
      width:700px;

    }
  h2
  {
       margin-top: 10px;
       font-size:40px;
  }
  h1
  {
       font-size:60px;
  }
  button
  {
      background-color:black;
      color:white;
      cursor:pointer;
      padding:16 px 32 px;
      height:50px;
      width:100px;
  }
